*{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    height: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr;
    grid-template-areas:"header header nav3"
                        "nav1 main nav3"
                        "nav2 main nav3"
                        "nav2 footer footer" ;
                                  /* shortcut for all under work  */
   
}
body{
    height: 100vh;
    width: 100vw;
    background-color: darkorange;
}
.header{
    background-color: rgb(109, 46, 154);
    /* grid-column-start: 1;
    grid-column-end: 4; */
                   /* to strech the row or column  */
    grid-area: header;
}
.nav1{
    background-color: aquamarine;
    grid-area: nav1;
    
}
.nav2{
    background-color: chartreuse;
    /* grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 1; */
    grid-area: nav2;
  

}
.nav3{
    background-color: rgb(204, 110, 196);
    /* grid-row-start: 2;
    grid-row-end: 4; */
    grid-area: nav3;

}
.main{
    background-color: darkseagreen;
    /* grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3; */
    grid-area: main;
}
.footer{
    background-color: dodgerblue;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1/ span 3; */
                    /* easy less line and span after start   */
     grid-area: footer;               
}
