 div h1+p{background-color: brown;}
h1 ~ p{
    background-color: aquamarine;
} 
/* div{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}
div:hover{
    background-color: blueviolet;
    border-radius: 30px;;
}
input:hover{
    background-color: darkgoldenrod;
}
input:focus{
    background-color: fuchsia;
}
input:active{                                
    background-color: greenyellow;
}
a:visited{
    color: crimson;
} */
/* ul li:last-child{
    background-color: rgb(44, 151, 151);
}
li:nth-of-type(3){
    background-color: cornflowerblue;
} */
/* li:nth-of-type(even){
    background-color: rgb(149, 149, 239);
}
li:nth-of-type(odd){
    background-color: gold;
} */
/* li:nth-of-type(3n+4){
    background-color: rgb(219, 124, 124);
}
p::first-line{
    font-size: 40px;
}
p::first-letter{
    font-size: 90px;
}
p::after{
    content: "im a new content";
} */
/* p::before{
    content:"\2685";
}
ul>li{
    color: rgb(66, 225, 135);
    border: 5px solid rgb(103, 151, 224);
}*/
input{
    /* background-color: rgb(230, 40,20); */
    /* background-color: rgba(30, 49, 220, 0.5) ; */
    background-color: #88ff3456;
} 
/* 
#vijul{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
}
#jadugar{
    width: 30%;
    height: 30%;
    background-color: coral;
} */
/* li{
    font-size: 2em;            //snowball effect only on em and %
} 
/* li{
    font-size: 200%;
} */
li{
    font-size: 2rem;
}

#vijul{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
}
#jadugar{
    width: 30vw;
    height: 30vh;
    background-color: coral;
}