/* span{
    height: 30px;
    width: 40px;
    background-color: darksalmon;
    margin: 40px;                           
    border: 3px solid red;
    padding: 60px;
    display: inline-block;
    /* in inline top botom margin nhi ayta but left right ayta hai */
    
/* }
h1{
    height: 300px;
    width: 300px;
    background-color: gold;
    margin: 40px;
    border: 4px solid black;
    padding: 20px;

} */ 
div{
    width: 100px;
    height: 100px;
    border: 4px solid black;
    display: inline-block;
}
#static #middle{
    background-color:greenyellow ;
    top: 30px;
    left: 30px;
    position: static;
    /* works only with position,relative  .static mai koi bhi offset kaam nhi karta*/
}
#absolute #middle{
    background-color:greenyellow ;
    top: 30px;
    left: 30px;
    position: relative;
 } 
 #absolute{
    position: relative;
 }
#relative #middle{
    background-color:greenyellow ;
    top: 30px;
    left: 30px;
    position: absolute;
}
